

.content {
  width: 1200px;
  height: 960px;
  margin: auto;
  padding-top:0px;

  position: relative;
}

html, body, #wrapper {

   height:100%;
   width: 100%;
   margin: 0;
   padding: 0;
   border: 0;
   background-image:url(imgs/bg.png);
    position:fixed;
    overflow-y:hidden;
    overflow-x:hidden;
}



.logo{
  position: absolute;
  background-image: url(imgs/logo.png);
  width: 328px;
  height: 221px;
  left: 436px;
  top: 100px;
}
.search{
  position: absolute;
  width: 150px;
  height: 23px;
  left: 515px;
  top: 291px;
border-width:0px;
border:none;
}
.go{
  position: absolute;
  width: 23px;
  height: 23px;
  left: 665px;
  top: 291px;
}


.light-1{
  position: absolute;
  background-image: url(imgs/light-1.png);
  width: 214px;
  height: 226px;
  left: 10px;
  bottom: 50px;
}
.light-1:hover{
  position: absolute;
  background-image: url(imgs/light-1-h.png);
  width: 214px;
  height: 226px;
  left: 10px;
  bottom: 50px;
  transition-duration:0.8s;
  transition-timing-function:ease-in-out;
}
.line-1{
	bottom:276px;
	left:110px;
	width: 10px;
	height: 450px;
	border-bottom: 1px solid black;
	position: absolute;
	background-color:#79221c
}

.light-2{
  position: absolute;
  background-image: url(imgs/light-2.png);
  width: 214px;
  height: 226px;
  left: 250px;
  bottom: 220px;
}

.light-2:hover{

  position: absolute;
  background-image: url(imgs/light-2-h.png);
  width: 214px;
  height: 226px;
  left: 250px;
  bottom: 220px;
  transition-duration:0.8s;
  transition-timing-function:ease-in-out;
}

.line-2{
  left: 350px;
  bottom: 446px;
	width: 10px;
	height: 100px;
	border-bottom: 1px solid black;
	position: absolute;
	background-color:#79221c
}


.light-3{
  position: absolute;
  background-image: url(imgs/light-3.png);
  width: 214px;
  height: 226px;
  left: 500px;
  bottom: 50px;
}

.light-3:hover{
  position: absolute;
  background-image: url(imgs/light-3-h.png);
  width: 214px;
  height: 226px;
  left: 500px;
  bottom: 50px;
  transition-duration:0.8s;
  transition-timing-function:ease-in-out;
}

.line-3{
	bottom:276px;
	left:600px;
	width: 10px;
	height: 230px;
	border-bottom: 1px solid black;
	position: absolute;
	background-color:#79221c
}

.light-4{
  position: absolute;
  background-image: url(imgs/light-4.png);
  width: 214px;
  height: 226px;
  right: 250px;
  bottom: 220px;
}

.light-4:hover{
  position: absolute;
  background-image: url(imgs/light-4-h.png);
  width: 214px;
  height: 226px;
  right: 250px;
  bottom: 220px;
  transition-duration:0.8s;
  transition-timing-function:ease-in-out;
}
.line-4{
  right: 350px;
  bottom: 446px;
	width: 10px;
	height: 100px;
	border-bottom: 1px solid black;
	position: absolute;
	background-color:#79221c
}

.light-5{
  position: absolute;
  background-image: url(imgs/light-5.png);
  width: 214px;
  height: 226px;
  right: 10px;
  bottom: 50px;
}

.light-5:hover{
  position: absolute;
  background-image: url(imgs/light-5-h.png);
  width: 214px;
  height: 226px;
  right: 10px;
  bottom: 50px;
  transition-duration:0.8s;
  transition-timing-function:ease-in-out;
}

.line-5{
	bottom:276px;
	right: 110px;
	width: 10px;
	height: 450px;
	border-bottom: 1px solid black;
	position: absolute;
	background-color:#79221c
}

#content-2{
  visibility: hidden;
  position: absolute;
  left: 0px;
  bottom: -540px;
}

#content-3{
  visibility: hidden;
  position: absolute;
  left: 0px;
  bottom: -520px;
}

#content-4{
  visibility: hidden;
  position: absolute;
  left: 0px;
  bottom: -540px;
}
#content-5{
  visibility: hidden;
  position: absolute;
  left: 0px;
  bottom: -540px;
}

